extends ../layouts/main-sidebar

block content
	header
		h1= post.title
		if author
			p #{author.firstName} #{author.lastName} - #[time #{moment(post.publishedDate).calendar()}]
		else
			p Anonymous - #[time #{moment(post.publishedDate).calendar()}]
	div !{renderedPost}

block sidebar
	h3 Categories
	ul
		li First Category
		li Second Category
	h3 Popular Posts
	ul
		li Good Post
		li Almost as good the other post